/note
/note/*
.gradle/
build/
app/build/
.kotlin/
local.properties
*.log
captures/
.externalNativeBuild/
.cxx/
*.aab
*.apk
output-metadata.json
*.iml
*.ipr
*.iws
.idea/
.DS_Store
*.jks
*.keystore
google-services.json
*.hprof